.content__subtitle {
  color: #fcf7b7;
  font-size: 96px;
  text-align: end;
  justify-self: center;
  margin: 0 52px 85px 190px;
  font-weight: normal;
  font-family: Cormorant SC;
  font-weight: 500;
  line-height: 60px;
}
