.popup__button {
    margin-top: 40px;
    background-color: transparent;
    border: 2px solid #fff7bb;
    border-radius: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
}

.popup__button:focus {
    outline: none;
}