.poem-box__like-but {
	background: url(../../../images/Vector.svg);
	width: 51px;
	height: 51px;
	padding: 0;
	margin-right: 28px;
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	transition: 0.1s linear 0.1s;
}

.poem-box__like-but:hover {
	background-image: url(../../../images/like-active.svg);
}