.active__button {
	width: 61px;
	height: 53px;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: .4;
	transition: 0.1s linear 0.1s;
}

.active__button:hover {
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
}
