.poem-box__main-container {
    margin: 30px 21%;
    background-image: linear-gradient(to left, black, #2E2E30);
    border-radius: 40px;
    box-shadow: -1px -3px 10px  rgba(247, 243, 243, 0.308);
}