@import url(./__logo/footer__logo.css);
@import url(./__copyright/footer__copyright.css);

.footer {
	display: flex;
	align-items: center;
	min-height: 100px;
	width: 100%;
	max-width: 1920px;
	background: #0F0F10;
}