.popup__paragraph {
    font-family: SF Pro Text;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
    margin: 0 auto 30px;
    width: 70%;

	vertical-align: baseline;
}